<header class="w-full bg-green-600 text-white py-4">
  <div class="container mx-auto flex items-center justify-center px-4">
    <h1 class="text-xl font-bold">VeggiePick</h1>
  </div>
</header>

<h2 class="text-center mt-8 mb-4">
  <span class="inline-block bg-orange-100 px-6 py-2 text-xl font-bold">
    ご案内
  </span>
</h2>

<section class="mx-auto bg-orange-100 px-6 py-4 text-left max-w-prose my-4">
  <p>こちらは〇〇県〇〇市にある農園の季節ごとの野菜の収穫体験予約サイトです。</p>
  <p>現在はさつまいも🍠の収穫体験を行なっております。</p>
</section>

<h2 class="text-center mt-8 mb-2">
  <span class="inline-block bg-orange-100 px-6 py-2 text-xl font-bold">
    営業日
  </span>
</h2>

<%= image_tag "12gatu.png", class: "w-96 h-auto mx-auto block mb-8 border-4 border-orange-100" %>

<div class="text-center mb-10">
  <%= link_to "ご予約はこちら", new_reservation_path, class: "bg-orange-100 hover:bg-orange-400 font-bold py-2 px-4 rounded inline-block border-2 border-orange-200" %>
</div>

<button class="bg-orange-100 hover:bg-orange-400 font-bold py-2 px-4 rounded block mx-auto mb-10 border-2 border-orange-200">
  ご予約の確認はこちら
</button>

<button class="bg-orange-100 hover:bg-orange-400 font-bold py-2 px-4 rounded block mx-auto mb-50 border-2 border-orange-200">
  農園関係者の方はこちら
</button>